PORT=3002
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=celillac
DB_PASSWORD=celillac
DB_DATABASE=celillac_db

JWT_SECRET=mude-esta-chave-para-algo-seguro-com-mais-de-32-chars
JWT_EXPIRATION=1d